Code/Client/__pycache__/Calibration.cpython-311.pyc
Code/Client/__pycache__/Client.cpython-39.pyc
Code/Client/__pycache__/Client.cpython-311.pyc
Code/Client/__pycache__/Command.cpython-39.pyc
Code/Client/__pycache__/Command.cpython-311.pyc
Code/Client/__pycache__/Face.cpython-39.pyc
Code/Client/__pycache__/Face.cpython-311.pyc
Code/Client/__pycache__/PID.cpython-39.pyc
Code/Client/__pycache__/PID.cpython-311.pyc
Code/Client/__pycache__/text_detect.cpython-39.pyc
Code/Client/__pycache__/text_detect.cpython-311.pyc
Code/Client/__pycache__/Thread.cpython-39.pyc
Code/Client/__pycache__/Thread.cpython-311.pyc
Code/Client/__pycache__/ui_client.cpython-39.pyc
Code/Client/__pycache__/ui_client.cpython-311.pyc
Code/Client/__pycache__/ui_face.cpython-39.pyc
Code/Client/__pycache__/ui_face.cpython-311.pyc
Code/Client/__pycache__/ui_led.cpython-39.pyc
Code/Client/__pycache__/ui_led.cpython-311.pyc
Code/Client/__pycache__/Client.cpython-39.pyc
Code/Client/__pycache__/Command.cpython-39.pyc
Code/Client/__pycache__/Face.cpython-39.pyc
Code/Client/__pycache__/PID.cpython-39.pyc
Code/Client/__pycache__/Thread.cpython-39.pyc
Code/Client/__pycache__/ui_client.cpython-39.pyc
Code/Client/__pycache__/ui_face.cpython-39.pyc
Code/Client/__pycache__/ui_led.cpython-39.pyc
